<html>
{% import "header.html" %}
<body>
    {% import "navbar.html" %}
    <table class="table" style="width: 50%; margin-left: auto; margin-right:auto">
        <thead>
            <td>ID</td>
            <td>Name</td>
            <td>link</td>
            <td>Admin?</td>
        {%if ISADMIN == 1%}
            <td></td>
        {%end-if%}

        </thead>
        <tbody>
        {%for user in username%}
        {% if loop.i == 13 %}
        {%break%}
        {%end-if%}
            <tr>
                <td>{{loop.i}}</td>
                <td>{{user}}</td>
                <td><a href="{{links[loop.i]}}">klick</a></td>
                {%if ADMIN[loop.i] == 1%}
                    <td><span>YES</span></td>
                {%else%}
                    <td><span>NO</span></td>
                {%end-if%}
                {%if ISADMIN == 1%}
                    <td><button class="btn btn-danger">User loeschen</button></td>
                {%end-if%}
            </tr>
        {%end-for%}
        </tbody>
    </table>
</body>
</html>
