<html>
<head>
    <title>User Liste</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <table class="table" style="width: 50%; margin-left: auto; margin-right:auto">
        <thead>
            <td>ID</td>
            <td>Name</td>
            <td>link</td>
        </thead>
        <tbody>
        {%for user in username%}
        {% if user == " "%}
        {%break%}
        {%end-if%}
            <tr>
                <td>{{loop.i}}</td>
                <td>{{user}}</td>
                <td><a href="{{links[loop.i]}}">klick</a></td>
            </tr>
        {%end-for%}
        </tbody>
    </table>
</body>
</html>
