<miniweb>
    <environment type="test">
        <routes>/u/it/a140734/C/realHtml4Natural/web_server/routes.xml</routes>
        <htdocs>/u/it/a140734/C/realHtml4Natural/web_server/htdocs/</htdocs>
        <templates>/u/it/a140734/C/realHtml4Natural/web_server/templates/</templates>
        <port>1024</port>
        <debug>true</debug>
        <naterror>nat_error.html</naterror>
        <ldaerror></ldaerror>
        <parsererror></parsererror>
        <natparms></natparms>
        <natsourcepath>/VAW/natural/logi/fuser63/</natsourcepath>
    </environment>
    <environment type="production">
        <routes>/u/it/a140734/C/realHtml4Natural/web_server/routes.xml</routes>
        <htdocs>/u/it/a140734/C/realHtml4Natural/web_server/htdocs/</htdocs>
        <templates>/u/it/a140734/C/realHtml4Natural/web_server/templates/</templates>
    </environment>
</miniweb>
